
{% extends 'home/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home/cart.css' %}">
{% endblock %}
<title>{% block title %}Cart{% endblock %}</title>

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container mt-5">
    <h2>My Cart ({{ cart_items|length }} items)</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Model</th>
                    <th scope="col">Image</th>
                    <th scope="col">Unit price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr onclick="window.location='{% url 'home:product_details' product_id=item.product.id %}'"
                    style="cursor: pointer;">
                    <td>
                        {{ item.product.brand_name }}
                    </td>
                    <td>{{ item.product.model }}</td>
                    <td>
                        <a href="{{ item.product.images.url }}" target="_blank">
                            <img src="{{ item.product.images.url }}" width="100px" height="100px"
                                alt="{{ item.product.brand_name }} Image" class="img-fluid">
                        </a>
                    </td>
                    <td>${{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.subtotal|floatformat:"0" }}</td>
                    <td>
                        <form method="post" action="{% url 'home:remove_from_cart' %}">
                            {% csrf_token %}
                            <input type="hidden" name="item_id" value="{{ item.id }}">
                            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <h3 class="font-weight-bold text-danger grand-total">Grand total: ${{ total_price|floatformat:"0" }}</h3>
    <p class="">Note: Items will be removed from the cart if there is no checkout process.</p>
    <!-- <a href="" class="btn btn-primary">Proceed to Checkout</a> -->
</div>


<div class="paypal-ctn">
    <div id="paypal-button-container">
    </div>
</div>


<script
    src="https://www.paypal.com/sdk/js?client-id=AeZdUsvYWhg3F2w4QDAjrhECmXEETYuEL3npaQUV0KqdkLQjxnqxhHqvlr38zKvTDtkq8vyNoRePrv_a&currency=USD"></script>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    var total = '{{ total_price }}'
    var productId = '{{ CartItem.id }}'
    function completeOrder() {
        var url = "{% url 'home:payment_complete' %}"

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'productId': productId })
        })
    }

    paypal.Buttons({
        style: {
            color: 'blue',
            shape: 'rect',
            label: 'pay',
            height: 40
        },
        createOrder: function (date, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: total
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {

                // Clear cart
                fetch('/clear-cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    }
                })
                    .then(res => {
                        if (res.ok) {
                            // Redirect inside this callback
                            window.location.href = "{% url 'home:payment_complete' %}";
                        }
                    });
            });
        }
    }).render('#paypal-button-container');
</script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock content %}