<!-- cart/cart.html -->
{% extends 'home/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home/cart.css' %}">
{% endblock %}
<title>{% block title %}Cart{% endblock %}</title>

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container-cart mt-5">
    <h2>Your Shopping Cart</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Product name</th>
                <th scope="col"></th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ item.product.brand_name }}</td>
                    <td><img src="{{ item.product.images.url }}" width="100px" height="100px" alt="{{ item.product.brand_name }} Image" w></td>
                    <td>${{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.subtotal }}</td>
                    <td>
                        <form method="post" action="{% url 'home:remove_from_cart' %}">
                            {% csrf_token %}
                            <input type="hidden" name="item_id" value="{{ item.id }}">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="font-weight-bold">Total: ${{ total_price }}</p>
    <p style="color:red;">Note: Item(s) will remove from the cart if there is no process of checkout</p>
    <button class="btn btn-primary">Proceed to Checkout</button>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock content %}
