{% extends 'home/base.html' %}
{% load static %}

{% block title %}
Order History
{% endblock title %}

{% block content %}
<style>
    .card-header {
        background-color: var(--fourth-color);
    }
    span.product-name{
        font-size: 20px;
        color: var(--fourth-color) !important;
    }

    .product-detail {
        color: var(--fourth-color);
    }

    a.btn-go-back {
        margin-left: 4vh;
    }
    .custom-decoration {
        text-decoration: none !important;
    }
    a.custom-decoration{
    }
    li.list-group-item{
        transition: 0.3s ease;
        margin: 5px 0;
        border-radius: 5px !important;
    }
    li.list-group-item:hover{
        border:1px solid var(--fourth-color);
        background-color: var(--main-color);
        transform: scale(1.06);
    }
    .product-ctn span{
        color:#000;
        line-height: 30px;
    }
    p.total-price{
        color:red;
        font-size: 18px;
    }
</style>
<a href="{% url 'home:profile'%}" class="btn btn-primary btn-go-back">Go back</a>

<div class="container mt-4">
    <div class="row justify-content-center">
        {% for order in orders %}
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header">
                    <h3 class="mb-0" style="color: var(--main-color);" ">Order #{{ order.id }} - {{ order.ordered_date|date:'M d, Y' }}</h3>
                </div>
                <div class="card-body">
                        <ul class="list-group">
                                {% for item in order.orderhistoryitem_set.all %}
                                <a href="{% url 'home:product_details' product_id=item.product.id %}"
                                    class="product-detail custom-decoration">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="product-ctn">
                                            <span class="product-name">{{ item.product.brand_name }}</span>
                                            <span>
                                                <br>
                                                Quantity: {{ item.quantity }}
                                                <br>
                                                Price per unit: ${{ item.subtotal }}
                                            </span>
                                        </div>
                                        <img src="{{ item.product.images.url }}" alt="product_images" class="product-images"
                                            width="200px">
                                    </li>
                                </a>
                                {% endfor %}
                        </ul>

                        <p class="mt-3 total-price">Total: ${{ order.total_price|floatformat:"0" }}</p>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}