{% extends 'home/base.html' %}
{% load static %}


    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home/profile.css' %}">
    {% endblock extra_css %}
    {% block title %}Profile{% endblock title %}


    {% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <a href="{% url 'home:order_history'%}" class="btn btn-success">Check your order history</a>
    <!-- Your profile.html template
    <div class="pfp-ctn">
        <div class="row">
            <div class="col-md-12">
                <h1>Account Setting</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="mb-3">Details about your Personal information</h3>
                {% if user_profile.profile_picture %}
                <img src="{{ user_profile.profile_picture.url }}" alt="pfp" width="300px">
                {% else %}
                <p>No profile picture available</p>
                {% endif %}

                <a href="{% url 'home:order_history'%}" class="btn btn-success">Check your order history</a>
            </div>
            <div class="col-md-8">
                <h3 class="mb-3">Change User Information here</h3>
                <form method="post">
                    {% csrf_token %}
                    {% if success_message %}
                    <div class="alert alert-success">
                        {{ success_message }}
                    </div>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="full_name">Full Name</label>
                            <input type="text" class="form-control" id="full_name" name="full_name" value="{{ user.get_full_name }}">
                        </div>
                
                        <div class="mb-3">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
                        </div>
                
                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
                        </div>
                
                        <div class="mb-3">
                            <label for="phone_number">Phone Number</label>
                            <input type="number" class="form-control" id="phone_number" name="phone_number" value="{{ user_profile.phone_number }}">
                        </div>
                
                        <div class="mb-3">
                            <label for="new_password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" value="{{ user.password }}">
                        </div>
                
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form> -->




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>


{% endblock content %}

