{% extends 'home/base.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home/profile.css' %}">
{% endblock extra_css %}
{% block title %}Profile{% endblock title %}


{% block content %}

<div class="container-profile">
    <div class="sub-ctn">
        {% if user.socialaccount_set.all %}
            <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="pfp" alt="Social Account Profile Picture">
            <p>Full name: {{ user.socialaccount_set.all.0.extra_data.name }}</p>
        {% elif user.userprofile.profile_picture %}
            <img src="{{ user.userprofile.profile_picture.url }}" class="pfp-userprofile" alt="User Profile Picture">
            <p>Full name: {{ user.get_full_name }}</p>
        {% else %}
            <img src="{% static 'path/to/default_avatar.png' %}" class="pfp" alt="Default Avatar">
            <p>Full name: {{ user.get_full_name }}</p>
        {% endif %}
        
        <p>Username: {{ user.get_username }}</p>
        <p>Email: {{ user.email }}</p>
        <a href="{% url 'home:order_history'%}" class="btn btn-success btn-custom">Check my order history <img src="{% static 'images/icons/icons8-history-50.png'%}" class="his-icon"></a>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock content %}