{% extends 'home/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/userprofile/sign_up.css' %}">
    {% endblock extra_css %}
    {% block title %}Sign up{% endblock title %}
</head>

<body>
    {% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>**{{ message }}**</li>
            {% endfor %}
    </ul>
    {% endif %}
    <div class="ctn-sign-up">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center sign-up-text">Sign Up</h2>
            <form method="post" action="{% url 'userprofile:signup' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="full_name">Full Name:</label>
                    <input type="text" class="form-control" id="full_name" name="full_name"
                        placeholder="Enter your full name">
                    {% if form.full_name.errors %}
                    <div class="alert alert-danger">
                        {{ form.full_name.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="username"
                        placeholder="Enter your username" required>
                    {% if form.username.errors %}
                    <div class="alert alert-danger">
                        {{ form.username.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email"
                        required>
                    {% if form.email.errors %}
                    <div class="alert alert-danger">
                        {{ form.email.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="email">Phone number:</label>
                    <input type="number" class="form-control" id="phone-number" name="phone-number"
                        placeholder="Enter your phone number" required>
                    {% if form.phone_number.errors %}
                    <div class="alert alert-danger">
                        {{ form.phone_number.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group pfp-form">
                    <label for="pfp">Profile Picture:</label>
                    <input type="file" class="form-control pfp" id="pfp" name="pfp" style="display: none;">
                    <label for="pfp" class="custom-file-upload">Browse</label>
                    <img id="image-preview" src="" alt="Preview Image" style="display: none;">
                </div>

                <div class="form-group">
                    <label for="password1">Password:</label>
                    <input type="password" class="form-control" id="password1" name="password1"
                        placeholder="Enter your password" required>
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password:</label>
                    <input type="password" class="form-control" id="password2" name="password2"
                        placeholder="Enter your password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-sign-up">Sign Up</button>
                <hr style="background-color: var(--main-color);">
                <p class="create-text">Have an account? just sign in!</p>
                <a href="{% url 'userprofile:signin' %}" class="btn btn-primary btn-sign-in">Sign in</a>
            </form>
        </div>
    </div>


    <script>
        const fileInput = document.getElementById("pfp");
        const imagePreview = document.getElementById("image-preview");

        fileInput.addEventListener("change", function () {
            const file = fileInput.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = "block";
                };
                reader.readAsDataURL(file);
            }
        });
    </script>


    {% endblock content %}




</body>

</html>