.container-cart{
    width: 80%;
    margin:auto;
    padding: 15px;
    flex-wrap: wrap;
}
tbody td, th{
    border-bottom:1px solid rgba(128, 128, 128, 0.349);
}
thead tr th{
    border: 1px solid var(--main-color);
}
tr{
    border:1px solid rgba(128, 128, 128, 0.349);

}

tbody tr{
    outline:none;
    transition: 0.3s ease;
}
tbody tr:hover{
    background-color: var(--main-color);
    transform: scale(1.01);
}

table {
    text-align: center;
}

#paypal-button-container {
    width: 30%;
    margin: auto;
}

.product-image {
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    #paypal-button-container {
        width: 70%;
    }
}

thead tr {
    background-color: var(--fourth-color);
    color: var(--main-color);
}