.go-back-ctn {

    width: 100%;
    padding-left: 4rem;
    margin-bottom: 2rem;
}

button#go-back-button {
    font-family: var(--secondary-font);
    padding: 5px 10px 5px 10px;
    background-color: var(--fourth-color);
    border-radius: 5px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: 0.3s ease;
}

button#go-back-button:hover {
    background-color: var(--second-color);
    border: 1px solid var(--fourth-color);
    color: var(--fourth-color);
}

.nav-top {
    margin-top: 15vh;
}

.box-ctn {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%;
    font-family: var(--primary-font);
}

.product-ctn {
    border: 0.5px solid rgba(128, 128, 128, 0.219);
    padding: 20px 0;
    max-width: 100%;
    flex-basis: 50%;
    height: 400px;
    margin: 0 auto;
}

.image-container {
    height: 100%;
    display: flex;
    margin: 0 auto;
}

.product-ctn img {
    max-width: 100%;
    object-fit: contain;
    padding: 15px;
    display: flex;
    margin: 0 auto;

}

.header h1 {
    font-size: 28px;
    color: var(--fourth-color);
}

.description h3 {
    color: red;
}

span.product-year {
    background-color: var(--main-color);
    color: var(--fourth-color);
    padding: 2px;
}

.description,
.specs {
    font-family: var(--secondary-font);
}

.whole-ctn {
    display: flex;
    font-family: var(--primary-font);
}
.box-ctn{
    border: 2px solid red;
}
.product-ctn{
    border: 2px solid red;
    display: flex;
}
.related-image{
    margin-top: 13rem;
    display: inline-flex;
    border: 2px solid red;
    width:200px;
    height: 150px;
}
.related-image img {
    max-width: 100%; /* Ensure the images don't stretch too wide */
}
.spec-ctn {
    flex-basis: 50%;
    max-width: 35%;
    padding: 0 0 0 15px;
    margin-left: 1rem;
    font-size: 14px;
}

.recommend-ctn {
    border-radius: 3px;
    margin-right: 3rem;
    padding: 15px;
    width: 15%;
}

.recommend-ctn img {
    display: flex;
    margin: 0 auto;
    height: auto;
    width: 200px;
    object-fit: cover;
    padding: 1rem;
}

.recommend-ctn-spec {
    padding: 0.5rem;
}
.recommend-product a:hover{
    text-decoration: none;
}
.recommend-product {
    margin: 10px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid var(--fourth-color);
    padding:15px;
    transition: 0.5s ease;
}
.recommend-product:hover {
    border-style: dashed;
}

h3.product-name {
    color:var(--fourth-color);
    font-size: 15px;
}

h6.price{
    color:red;
}
.specs h5 {
    font-family: var(--primary-font);
}

.specs ul {
    list-style-type: circle;
    line-height: 35px;
}

.image-container {
    overflow: hidden;
    position: relative;
}

#zoom-image {
    transition: transform 0.5s;
}

#zoom-image:hover {
    transform: scale(2);
    /* Adjust the scale factor as needed */
}

img.cart-logo {
    margin: 0 5px;
}

button#add-to-cart-btn {
    background-color: var(--third-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 3rem;
    font-family: var(--secondary-font);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transition: 0.3s ease;
}

button#add-to-cart-btn:hover {
    background-color: var(--fourth-color);

}

@media (min-width: 0px) and (max-width: 575px) {
    .whole-ctn {
        display: block;
    }
    .sub-recommend-ctn{
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }
    .recommend-product{
        margin: 0 auto;
        object-fit: cover;
        width:45%;
        margin-top: 10px;
    }
    .recommend-product img{
        max-width:100%;
    }
    .recommend-ctn {
        width: 100%;
        margin: 0 auto;
    }

    .nav-top {
        margin-top: 17vh;
    }

    .go-back-ctn {
        width: 100%;
        padding-left: 2rem;
        margin-bottom: 1rem;
    }

    .box-ctn {
        width: 90%;
    }

    .product-ctn,
    .spec-ctn {
        flex-basis: 100%;
        max-width: 100%;
    }

    .spec-ctn {
        margin: 0;
    }

    .header h1 {
        margin-top: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .whole-ctn {
        display: block;
    }
    .sub-recommend-ctn{
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .recommend-ctn {
        width: 90%;
        margin: 0 auto;
    }
    .go-back-ctn {
        width: 100%;
        padding-left: 2rem;
        margin-bottom: 1rem;
    }

    .box-ctn {
        width: 90%;
    }

    .product-ctn,
    .spec-ctn {
        flex-basis: 100%;
        max-width: 100%;
    }

    .spec-ctn {
        margin: 0;
    }

    .header h1 {
        margin-top: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .whole-ctn {
        display: block;
    }
    .sub-recommend-ctn{
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .recommend-product{
        margin: 0 auto;
        object-fit: cover;
        width:30%;
        margin-top: 10px;
    }
    .recommend-product img{
        object-fit: cover;
        max-width: 100%;
    }
    .recommend-ctn {
        width: 90%;
        margin: 0 auto;
    }
    .go-back-ctn {
        width: 100%;
        padding-left: 3rem;
        margin-bottom: 1rem;
    }

    .box-ctn {
        width: 90%;
    }

    .product-ctn,
    .spec-ctn {
        flex-basis: 100%;
        max-width: 100%;
    }

    .spec-ctn {
        margin: 0;
    }

    .header h1 {
        margin-top: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .whole-ctn {
        display: block;
    }
    .sub-recommend-ctn{
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }
    .recommend-product{
        margin: 0 auto;
        object-fit: contain;
        width:30%;
        margin-top: 10px;
    }
    .recommend-product img{
        object-fit: cover;
        max-width: 100%;
    }
    .recommend-ctn {
        width: 90%;
        margin: 0 auto;
    }
    .go-back-ctn {
        width: 100%;
        padding-left: 6.2rem;
        margin-bottom: 2rem;
    }

    .box-ctn {
        width: 80%;
    }

    .product-ctn,
    .spec-ctn {
        flex-basis: 50%;
        width: 100%;
    }

    .spec-ctn {
        margin-left: 1rem;
    }

    .header h1 {
        margin-top: 15px;
    }
}

@media (min-width: 1200px) and (max-width:1333px) {
    .whole-ctn {
        display: flex;
    }
    .sub-recommend-ctn{
        display: block;
        flex-wrap: wrap;
        width: 100%;

    }
    .recommend-product{
        margin: 0 auto;
        object-fit: contain;
        width:90%;
        margin-top: 10px;
    }
    .recommend-product img{
        object-fit: cover;
        max-width: 100%;
    }
    .recommend-ctn {
        width: 20%;
        margin: 0 auto;
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .go-back-ctn {
        width: 100%;
        padding-left: 3rem;
        margin-bottom: 2rem;
    }

    .box-ctn {
        width: 80%;
    }

    .product-ctn,
    .spec-ctn {
        flex-basis: 50%;
        width: 100%;
    }

    .spec-ctn {
        margin-left: 1rem;
    }

    .header h1 {
        margin-top: 15px;
    }
}
@media (min-width:1333px) and (max-width: 1620px) {
    .whole-ctn {
        display: flex;
    }
    .sub-recommend-ctn{
        display: block;
        flex-wrap: wrap;
        width: 100%;

    }
    .recommend-product{
        margin: 0 auto;
        object-fit: contain;
        width:80%;
        margin-top: 10px;
    }
    .recommend-product img{
        object-fit: cover;
        max-width: 100%;
    }
    .recommend-ctn {
        width: 20%;
        margin: 0 auto;
        margin-right: 2rem;
        margin-left: 2rem;
    }
}